/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo img {
    width: 55px;
}

nav {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

nav a {
    color: white;
    
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    gap: 30px;
}

.menu-btn {
    display: none;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 25px;
}

.images img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

/* MOBILE FIXES */
@media (max-width: 768px) {
    nav {
        display: flex;
        background: #222;
        text-align: center;
        width: 100%;
        padding: 10px 0;
        top: 70px;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    .menu-btn {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .images {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}

/* FOOTER */
.footer {
    padding: 35px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    gap: 400;
}

.footer-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
  .footer > *{
            margin-right: 90px;
}

/* MENU PAGE */
.menu-title {
    text-align: center;
    margin: 20px;
}

.menu-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 15px;
}

.item {
    background: #222;
    padding: 15px;
    border-radius: 10px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

/* GALLERY PAGE */
.gallery-container {
    width: 90%;
    margin: auto;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.g-item img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT PAGE */
.contact-container {
    width: 90%;
    margin: auto;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

/* Navbar Main */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #000;
  color: white;
  padding: 10px 15px;
  gap: 30px;
}

/* Logo */
.logo {
  font-size: 18px;
  font-weight: bold;
}

/* Menu Links */
#navLinks a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  #navLinks {
    display: none;
    flex-direction: column;
    background: #000;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: center;
  }

  #navLinks a {
    padding: 12px;
    border-top: 1px solid #444;
    display: block;
  }

  .menu-icon {
    display: block;
  }
}


/* Image container */
.gallery-box {
  width: 300px;
  overflow: hidden;
  margin-right: 600px;   /* LEFT side ke liye */
}

/* Slider */
.slider {
  display: flex;
  width: 300%;
  animation: swipe 25s infinite;
}

.slider img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

/* Auto Swipe Animation */
@keyframes swipe {
  0%   { transform: translateX(0); }
  22%  { transform: translateX(-100%); }
  33%  { transform: translateX(-200%); }
  66% { transform: translateX(0); }
}

#welcomeName {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;        /* full size */
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 30px 60px;
    border-radius: 15px;
    text-align: center;
    z-index: 9999;
    display: none;          /* start me hidden */
}